/* Colors */
$black: #000000;
$cyan: #137fcc;
$gray-dark: #252525;
$gray-light: #a0a0a0;
$orange-light: #ffa545;
$white: #ffffff;
$whitesmoke: #e4e4e4;

$primary-bg-color: $white;
$secondary-bg-color: $gray-dark;
$tertiary-bg-color: $black;

$primary-title-color: $whitesmoke;

$primary-text-color: $whitesmoke;
$secondary-text-color: $orange-light;
$tertiary-text-color: $cyan;
$primary-subtext-color: $gray-light;


/* Media Queries Breakpoint - Bootstrap based */
$sc-mq-breakpoint-xs: 380px;
$sc-mq-breakpoint-sm: 576px;
$sc-mq-breakpoint-md: 768px;
$sc-mq-breakpoint-lg: 992px;
$sc-mq-breakpoint-xl: 1200px;