<div class="top-posts">
  <aside class="posts-list" [ngClass]="{ 'posts-list_mobile-show': isSidebarShowed$ | async }">
    <div class="posts-list__heading">
      <h5 class="posts-list__title">Reddit Posts</h5>
    </div>
    <div class="posts-list__content">
      <ng-container *ngFor="let post of posts$ | async; index as i; last as isLast; trackBy: trackPosts">
        <app-post @slideOutLeft
                  class="d-block"
                  [post]="post"
                  (click)="onPostClick(i)"
                  (dismiss)="onDismissPost(i)">
        </app-post>
        <hr *ngIf="!isLast" class="posts-list__divider">
      </ng-container>
    </div>
    <div class="posts-list__footer">
      <div class="posts-list__dismiss-all" (click)="onDismissAllClick()">Dismiss All</div>
    </div>
  </aside>
  <section class="post-preview" (click)="onPreviewClick($event)">
    <app-post-viewer [post]="previewPost$ | async"></app-post-viewer>
  </section>
</div>